@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Вул. Тестів, 404<br />
    м. Тестова, Тестова обл.<br />
    <abbr title="Телефон">: </abbr>
    +380501234567
</address>

<address>
    <strong>Підтримка та запитання:</strong> <a href="Support_Testhotel@example.com">SupportTesthotel@example.com</a>
</address>