@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Тестовий готель - домашня сторінка</title>
    <!-- ========== Css Files ========== -->
    <link href="~/css/root.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Вітаємо у системі управління тестовим готелем</h1>
                <h3>Це система управління готелем та бронюваннями кімнат</h3>
                <h4>Проект виконали студенти групи МІТ-41:</h4>
                <h4>Демченко А.В., Рогачов М.Д., Костенко В.В., Ізотов Д.І.</h4>
                <h4>КНУ ФІТ</h4>
                <a asp-action="index" asp-controller="rooms" class="btn btn-option2">До панелі адміністратора</a>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
