@model H_R_WS.Models.RoomType
<!-- Початок заголовку -->
<div class="page-header">
    <h1 class="title">Кімнати</h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index">Категорії кімнат</a></li>
        <li class="active">Створити</li>
    </ol>

</div>
<!-- Кінець заголовку -->
<!-- Початок контейнера-->
<div class="container-padding">
    <div class="row">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        Створити нову категорію
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="Name" class="col-sm-2 control-label form-label">Назва</label>
                            <input asp-for="Name" class="col-sm-9" />
                            <span asp-validation-for="Name" class="text-danger col-sm-9 col-md-offset-2"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BasePrice" class="col-sm-2 control-label form-label">Ціна</label>
                            <input asp-for="BasePrice" class="col-sm-9" />
                            <span asp-validation-for="BasePrice" class="text-danger col-sm-9 col-md-offset-2"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-sm-2 control-label form-label">Описання</label>
                            <textarea rows="4" asp-for="Description" class="col-sm-9" style="border-radius: 3px; padding-left: 10px; font-size: 14px; background: #fff; border: 1px solid #BDC4C9; box-shadow: inset 0px 1px 0px #F1F0F1;"></textarea>
                            <span asp-validation-for="Description" class="text-danger col-sm-9 col-md-offset-2"></span>
                        </div>

                        <div class="col-md-6 col-md-offset-3">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <input id="bottom-submit-button" type="submit" value="Створити" class="btn btn-success" />
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-danger">Очистити поля</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='/Roomtypes/Index'">Назад до списку</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Кінець -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
